h1 {
  border-bottom-style: outset;
  border-color: aliceblue;
  border: 0 -30px;
  text-align: center;
}

.box {
  border: solid 5px;
  margin-bottom: 800px;
  margin: 50px;
  color: yellowgreen;
  background-color: papayawhip;
  text-align: center;
}

.redsale {
  color: red;
  margin-bottom: -10px;
}

button {
  margin-bottom: 50px;
  background-color: whitesmoke;
  border-radius: 40px;
  border-color: darkseagreen;
}
